USE [EFCorePeliculasDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 08/09/2023 20:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actores]    Script Date: 08/09/2023 20:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Biografia] [nvarchar](max) NULL,
	[FechaNacimiento] [date] NULL,
 CONSTRAINT [PK_Actores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cines]    Script Date: 08/09/2023 20:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Ubicacion] [geography] NULL,
 CONSTRAINT [PK_Cines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinesOfertas]    Script Date: 08/09/2023 20:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinesOfertas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[PorcentajeDescuento] [decimal](5, 2) NOT NULL,
	[CineId] [int] NOT NULL,
 CONSTRAINT [PK_CinesOfertas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneroPelicula]    Script Date: 08/09/2023 20:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneroPelicula](
	[GenerosId] [int] NOT NULL,
	[PeliculasId] [int] NOT NULL,
 CONSTRAINT [PK_GeneroPelicula] PRIMARY KEY CLUSTERED 
(
	[GenerosId] ASC,
	[PeliculasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 08/09/2023 20:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreGenero] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Generos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 08/09/2023 20:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](250) NOT NULL,
	[EnCartelera] [bit] NOT NULL,
	[FechaEstreno] [date] NOT NULL,
	[PosterURL] [varchar](500) NULL,
 CONSTRAINT [PK_Peliculas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PeliculasActores]    Script Date: 08/09/2023 20:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeliculasActores](
	[PeliculaId] [int] NOT NULL,
	[ActorId] [int] NOT NULL,
	[Personaje] [nvarchar](150) NULL,
	[Orden] [int] NOT NULL,
 CONSTRAINT [PK_PeliculasActores] PRIMARY KEY CLUSTERED 
(
	[PeliculaId] ASC,
	[ActorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PeliculaSalaDeCine]    Script Date: 08/09/2023 20:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeliculaSalaDeCine](
	[PeliculasId] [int] NOT NULL,
	[SalasDeCineId] [int] NOT NULL,
 CONSTRAINT [PK_PeliculaSalaDeCine] PRIMARY KEY CLUSTERED 
(
	[PeliculasId] ASC,
	[SalasDeCineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalasDeCine]    Script Date: 08/09/2023 20:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalasDeCine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Precio] [decimal](9, 2) NOT NULL,
	[CineId] [int] NOT NULL,
	[TipoSalaDeCine] [int] NOT NULL,
 CONSTRAINT [PK_SalasDeCine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230904232409_Db', N'6.0.0')
GO
SET IDENTITY_INSERT [dbo].[Actores] ON 

INSERT [dbo].[Actores] ([Id], [Nombre], [Biografia], [FechaNacimiento]) VALUES (1, N'Ana López', N'Actriz de renombre en la industria cinematográfica.', CAST(N'2000-01-01' AS Date))
INSERT [dbo].[Actores] ([Id], [Nombre], [Biografia], [FechaNacimiento]) VALUES (2, N'Javier Pérez', N'Actor versátil con una gran trayectoria en teatro y cine.', CAST(N'2001-03-15' AS Date))
INSERT [dbo].[Actores] ([Id], [Nombre], [Biografia], [FechaNacimiento]) VALUES (3, N'Isabel Rodríguez', N'Conocida por sus papeles en películas de drama.', CAST(N'2002-05-20' AS Date))
SET IDENTITY_INSERT [dbo].[Actores] OFF
GO
SET IDENTITY_INSERT [dbo].[Cines] ON 

INSERT [dbo].[Cines] ([Id], [Nombre], [Ubicacion]) VALUES (1, N'Hoyts Abasto', 0xE6100000010CFAAD426F96344DC05481A499384D41C0)
INSERT [dbo].[Cines] ([Id], [Nombre], [Ubicacion]) VALUES (2, N'Cinemark Avellaneda', 0xE6100000010C81994A9A9A314DC06232B0E99C5441C0)
INSERT [dbo].[Cines] ([Id], [Nombre], [Ubicacion]) VALUES (3, N'Cinemark Caballito', 0xE6100000010CA44396BB85394DC08C5FC2B2E34E41C0)
SET IDENTITY_INSERT [dbo].[Cines] OFF
GO
INSERT [dbo].[GeneroPelicula] ([GenerosId], [PeliculasId]) VALUES (4, 1)
INSERT [dbo].[GeneroPelicula] ([GenerosId], [PeliculasId]) VALUES (12, 1)
INSERT [dbo].[GeneroPelicula] ([GenerosId], [PeliculasId]) VALUES (5, 2)
GO
SET IDENTITY_INSERT [dbo].[Generos] ON 

INSERT [dbo].[Generos] ([Id], [NombreGenero]) VALUES (1, N'Acción')
INSERT [dbo].[Generos] ([Id], [NombreGenero]) VALUES (2, N'Aventura')
INSERT [dbo].[Generos] ([Id], [NombreGenero]) VALUES (3, N'Ciencia Ficción')
SET IDENTITY_INSERT [dbo].[Generos] OFF
GO
SET IDENTITY_INSERT [dbo].[Peliculas] ON 

INSERT [dbo].[Peliculas] ([Id], [Titulo], [EnCartelera], [FechaEstreno], [PosterURL]) VALUES (1, N'Amanecer en el Bosque', 1, CAST(N'2000-01-01' AS Date), N'http://www.ejemplo.com/poster1')
INSERT [dbo].[Peliculas] ([Id], [Titulo], [EnCartelera], [FechaEstreno], [PosterURL]) VALUES (2, N'Bajo el Cielo Estrellado', 0, CAST(N'2001-02-02' AS Date), N'http://www.ejemplo.com/poster2')
INSERT [dbo].[Peliculas] ([Id], [Titulo], [EnCartelera], [FechaEstreno], [PosterURL]) VALUES (3, N'Cazadores del Tesoro', 1, CAST(N'2002-03-03' AS Date), N'http://www.ejemplo.com/poster3')
SET IDENTITY_INSERT [dbo].[Peliculas] OFF
GO
INSERT [dbo].[PeliculasActores] ([PeliculaId], [ActorId], [Personaje], [Orden]) VALUES (1, 1, N'Natalie', 6)
INSERT [dbo].[PeliculasActores] ([PeliculaId], [ActorId], [Personaje], [Orden]) VALUES (1, 13, N'Astra', 2)
INSERT [dbo].[PeliculasActores] ([PeliculaId], [ActorId], [Personaje], [Orden]) VALUES (1, 25, N'Garrison', 5)
GO
INSERT [dbo].[PeliculaSalaDeCine] ([PeliculasId], [SalasDeCineId]) VALUES (3, 1)
INSERT [dbo].[PeliculaSalaDeCine] ([PeliculasId], [SalasDeCineId]) VALUES (78, 1)
INSERT [dbo].[PeliculaSalaDeCine] ([PeliculasId], [SalasDeCineId]) VALUES (11, 2)
GO
SET IDENTITY_INSERT [dbo].[SalasDeCine] ON 

INSERT [dbo].[SalasDeCine] ([Id], [Precio], [CineId], [TipoSalaDeCine]) VALUES (1, CAST(1353.00 AS Decimal(9, 2)), 8, 2)
INSERT [dbo].[SalasDeCine] ([Id], [Precio], [CineId], [TipoSalaDeCine]) VALUES (2, CAST(2.00 AS Decimal(9, 2)), 18, 2)
INSERT [dbo].[SalasDeCine] ([Id], [Precio], [CineId], [TipoSalaDeCine]) VALUES (3, CAST(1776.00 AS Decimal(9, 2)), 6, 3)
GO
SET IDENTITY_INSERT [dbo].[SalasDeCine] OFF
GO
ALTER TABLE [dbo].[SalasDeCine] ADD  DEFAULT ((1)) FOR [TipoSalaDeCine]
GO
ALTER TABLE [dbo].[CinesOfertas]  WITH CHECK ADD  CONSTRAINT [FK_CinesOfertas_Cines_CineId] FOREIGN KEY([CineId])
REFERENCES [dbo].[Cines] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CinesOfertas] CHECK CONSTRAINT [FK_CinesOfertas_Cines_CineId]
GO
ALTER TABLE [dbo].[GeneroPelicula]  WITH CHECK ADD  CONSTRAINT [FK_GeneroPelicula_Generos_GenerosId] FOREIGN KEY([GenerosId])
REFERENCES [dbo].[Generos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GeneroPelicula] CHECK CONSTRAINT [FK_GeneroPelicula_Generos_GenerosId]
GO
ALTER TABLE [dbo].[GeneroPelicula]  WITH CHECK ADD  CONSTRAINT [FK_GeneroPelicula_Peliculas_PeliculasId] FOREIGN KEY([PeliculasId])
REFERENCES [dbo].[Peliculas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GeneroPelicula] CHECK CONSTRAINT [FK_GeneroPelicula_Peliculas_PeliculasId]
GO
ALTER TABLE [dbo].[PeliculasActores]  WITH CHECK ADD  CONSTRAINT [FK_PeliculasActores_Actores_ActorId] FOREIGN KEY([ActorId])
REFERENCES [dbo].[Actores] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PeliculasActores] CHECK CONSTRAINT [FK_PeliculasActores_Actores_ActorId]
GO
ALTER TABLE [dbo].[PeliculasActores]  WITH CHECK ADD  CONSTRAINT [FK_PeliculasActores_Peliculas_PeliculaId] FOREIGN KEY([PeliculaId])
REFERENCES [dbo].[Peliculas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PeliculasActores] CHECK CONSTRAINT [FK_PeliculasActores_Peliculas_PeliculaId]
GO
ALTER TABLE [dbo].[PeliculaSalaDeCine]  WITH CHECK ADD  CONSTRAINT [FK_PeliculaSalaDeCine_Peliculas_PeliculasId] FOREIGN KEY([PeliculasId])
REFERENCES [dbo].[Peliculas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PeliculaSalaDeCine] CHECK CONSTRAINT [FK_PeliculaSalaDeCine_Peliculas_PeliculasId]
GO
ALTER TABLE [dbo].[PeliculaSalaDeCine]  WITH CHECK ADD  CONSTRAINT [FK_PeliculaSalaDeCine_SalasDeCine_SalasDeCineId] FOREIGN KEY([SalasDeCineId])
REFERENCES [dbo].[SalasDeCine] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PeliculaSalaDeCine] CHECK CONSTRAINT [FK_PeliculaSalaDeCine_SalasDeCine_SalasDeCineId]
GO
ALTER TABLE [dbo].[SalasDeCine]  WITH CHECK ADD  CONSTRAINT [FK_SalasDeCine_Cines_CineId] FOREIGN KEY([CineId])
REFERENCES [dbo].[Cines] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalasDeCine] CHECK CONSTRAINT [FK_SalasDeCine_Cines_CineId]
GO
